[project]
	description = A console windows app to translate .dot files to .png files using Graphviz
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/smanilov
[access "refs/for/refs/*"]
	read = group user/smanilov
	push = group user/smanilov
	label-Code-Review = -2..+2 group user/smanilov
	label-Verified = -1..+1 group user/smanilov
	rebase = group user/smanilov
	removeReviewer = group user/smanilov
	submit = group user/smanilov
[access "refs/heads/*"]
	read = group user/smanilov
	create = group user/smanilov
	push = +force group user/smanilov
	pushMerge = group user/smanilov
[access "refs/tags/*"]
	push = +force group user/smanilov
	pushTag = group user/smanilov
	pushSignedTag = group user/smanilov
