[project]
	description = A console windows app to translate .dot files to .png files using Graphviz
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stan Manilov (smanilov)
[access "refs/for/refs/*"]
	read = group user/Stan Manilov (smanilov)
	push = group user/Stan Manilov (smanilov)
	label-Code-Review = -2..+2 group user/Stan Manilov (smanilov)
	label-Verified = -1..+1 group user/Stan Manilov (smanilov)
	rebase = group user/Stan Manilov (smanilov)
	removeReviewer = group user/Stan Manilov (smanilov)
	submit = group user/Stan Manilov (smanilov)
[access "refs/heads/*"]
	read = group user/Stan Manilov (smanilov)
	create = group user/Stan Manilov (smanilov)
	push = +force group user/Stan Manilov (smanilov)
	pushMerge = group user/Stan Manilov (smanilov)
[access "refs/tags/*"]
	push = +force group user/Stan Manilov (smanilov)
	pushTag = group user/Stan Manilov (smanilov)
	pushSignedTag = group user/Stan Manilov (smanilov)
